.empty {
    text-align: center;
}

.home-card {
    max-width: 500px;
    height: max-content;
    margin: 26px auto;
}

.card-image img {
    max-height: 750px;
    max-width: 650px;
}

.home-card-title {
    padding: 10px 0 0 10px;
}